* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
}

.calculator {
    margin: 96px;
    background-color: lightgray;
    width: 368px; 
    height: 448px;
    height: 528px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    border: solid black; 
    border-width: 3px;
    border-radius: 10px;
}

.displayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308px;
    height: 64px; 
    text-align: right;
    border: solid black; 
    border-width: 2px;
    border-radius: 4px;
    background-color: white;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 276px;
    height: 60px; 
    text-align: right;
    background-color: white; 
    gap: 8px;
}

.buttonRow {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.unpressed {
    box-shadow: 4px 4px 2px rgb(100 100 100);
}

.button {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    background-color: grey;
    cursor: pointer;
}

.longButton {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 144px;
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    background-color: grey;
    cursor: pointer;
}

.invisibleButton {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    border-width: 1px;
    border-radius: 4px;
}