@font-face {
    font-family: 'Permanent Marker';
    src: url('PermanentMarker-Regular.woff2') format('woff2'),
        url('PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite AU VIC Guides';
    src: url('PlaywriteAUVICGuides-Regular.woff2') format('woff2'),
        url('PlaywriteAUVICGuides-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

